@font-face {
    font-family: 'Leviathan';
    src: url('/assets/fonts/Leviathan.ttf.woff') format('woff'),
        url('/assets/fonts/Leviathan.ttf.svg#Leviathan') format('svg'),
        url('/assets/fonts/Leviathan.ttf.eot'),
        url('/assets/fonts/Leviathan.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@page {
    size: A4 portrait;
    margin: 0;
}

:root {
    --border-color-front: red;
    --border-color-back: blue;
    --fill-color: white;
    --text-color: black;
    --text-color-alt: white;
    --inner-margin: 2mm;
    --font-family-general: 'Times New Roman', Times, serif;
    --font-size-general: 10pt;
    --font-size-large: 12pt;
    --font-size-x-large: 16pt;
    --font-size-xx-large: 20pt;
    --font-size-small: 8pt;
    --font-family-special: 'Leviathan';
    --font-size-special: 25pt;
}

body {
    margin: 0%;
    padding: 0%;
    -webkit-print-color-adjust: exact !important;
    background-color: gray;
}

.hide {
    display: none;
}

/*PAGE*/

.page{
    width: 210mm;
    height: 297mm;
    position: relative;
    color: var(--text-color);
    font-family: var(--font-family-general);
    font-size: var(--font-size-general);
    page-break-after: always;
    line-height: 1;
}

.page p {
    margin: 0;
}

.page-front{
    background-color: var(--border-color-front);;
}

.page-back{
    background-color: var(--border-color-back);;
}

/*CARD*/

.card.small {
    width: 95mm;
    height: 138mm;
    position: absolute;
    
}

.card.big {
    width: 200mm;
    height: 138mm;
    position: absolute;
}

.page-front .card.big .card-outer{
    column-count: 2;
    column-fill: auto;
    column-gap: 3mm;
    column-rule: 3mm solid var(--border-color-front);
}

.page-front .card-outer {
    height: 128mm;
    border-radius: 5mm;
    background-color: var(--fill-color);
}

.page-back .card-outer {
    height: 138mm;
    border-radius: 5mm;
    background-color: var(--fill-color);
}

.card-inner {
    margin: 0 var(--inner-margin);
}

.card-top-left {
    top: 5mm;
    left: 5mm;
}

.card-top-right {
    top: 5mm;
    right: 5mm;
}

.card-bottom-left {
    bottom: 5mm;
    left: 5mm;
}

.card-bottom-right {
    bottom: 5mm;
    right: 5mm;
}

.card .footer{
    height: 10mm;
    margin: 0 var(--inner-margin);
    /*background-color: blue;*/
    color: var(--text-color-alt);
}

.card .footer p.challange {
    font-family: var(--font-family-special);
    font-size: var(--font-size-special);
    font-variant: small-caps;
    letter-spacing: 0.5mm;
    line-height: 0.7;
}

.card .footer p.source {
    font-family: var(--font-family-general);
    font-size: var(--font-size-small);
    margin-top: 2px;
}

.card.big .footer {
    column-count: 2;
    column-fill: balance;
}

/*PICTURE*/

.picture-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.picture {
    object-fit: contain;
    width: 100%;
    height: calc(100% - var(--font-size-special));
}

/*NAME*/
.card .name {
    font-family: var(--font-family-special);
    font-size: var(--font-size-special);
    width: 100%;
    text-align: center;
    text-shadow: 0 0 5px var(--fill-color);
}

.card .name-bottom {
    position: absolute;
    bottom: 0;
}

/*STATS*/

.card .info{
    margin-left: calc(var(--inner-margin) * -1);
    width: calc(100% + var(--inner-margin) * 2);
    background-color: var(--border-color-front);
    text-align: center;
    color: var(--text-color-alt);
    padding: 2px;
}

.card table {
    width: 100%;
    border-spacing: 0;
}

.card table.attributes {
    font-size: var(--font-size-large);
}

.card table.abilities {
    text-align: center;
    font-size: var(--font-size-large);
}

.card table.abilities th {
    font-family: var(--font-family-special);
    font-size: var(--font-size-x-large);
    font-weight: normal;
}

/*SEPARATOR*/
.card .separator{
    margin-left: calc(var(--inner-margin) * -1);
    margin-top: 1mm;
    width: calc(100% + var(--inner-margin) * 2);
    background-color: var(--border-color-front);
    height: 0.5mm;
}

/*PROPERTIES & DESCRIPTIONS*/
.card .properties{
    margin-top: 1mm;
}

.card .traits p{
    margin-top: 1mm;
    font-size: var(--font-size-small);
}

.card .traits p strong{
    font-size: var(--font-size-general);
}

.card .traits p.trait-title {
    font-family: var(--font-family-special);
    font-size: var(--font-size-x-large);
}

.card .traits .trait:last-child .separator {
    display: none;
}



